pandas~=2.0.3
geohash2~=1.1
numpy~=1.23.5
tensorflow~=2.13.0
ff3~=1.0.1
psycopg2~=2.9.9
flask~=3.0.0
jupyter~=1.0.0
pip~=23.1.2
attrs~=23.1.0
argparse~=1.4.0
wheel~=0.41.1
Pillow~=10.0.0
docutils~=0.20.1
tornado~=6.3.3
Jinja2~=3.1.2
setuptools~=65.5.0
packaging~=23.1
pyparsing~=3.0.9
Cython~=3.0.5
requests~=2.31.0
scikit-multiflow~=0.5.3
uptrace==1.22.0
python-dotenv==1.0.0
